.label{
    font-size: 18px;
}
.input{
    height:30px;
    width: 300px;
}
.form{
    background-color: aqua;
    height: 600px;
    width: 80%;
   margin-left: 150px;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-right: 150px;

   border-radius: 20px;


}