.label{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    /* margin-top: 24px; */
    margin-top: 50px;
}
.input{
    height:40px;
    width: 600px;
    margin-left: 200px;
 
    display: flex;
    flex-direction: column;
    border-radius: 15px; 
    margin-top: -27px;
    gap: 40px;

}
.form{
    display: flex;
    flex-direction: row;
}
.contact-button button{
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 180px;
    margin-left: 50px;
    color: aliceblue;
    background-color: rgb(101, 101, 101);

}


  
  
  