body {
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  :root {
    --primary-color: #749F82;
    --secondary-color: #A8E890;
    --dunkelcolor: #425F57;
    --leightcolor: #CFFF8D;
  }
  
  
  
  .section_padding{
  
        padding: 4rem 5rem;
      }
  
      .footer{
      background-color: var(--dunkelcolor);
      height: 400px;
      margin-top: 2rem;
      
  
  
      }
  
      .sb_footer{
      display: flex;
      flex-direction: column ;
  
      }
      .sb_footer-links{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
        margin-bottom: 2rem;
      }
      .sb_footer_links_div
      {
        width:232px;
        margin: 1rem;
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        color:white;
      }
      a {
        color:var(--primary-color);
        text-decoration: none;
  
  
      }
      .sb_footer_links_div a{
        color:rgb(175, 175, 179);
        text-decoration: none;
        font-size: large;
      }
      .socialmediaa {
        display: flex;
        flex-direction: column;
        /* margin-right: 60px!important; */
        gap:10px;
        margin-left: -20px;
  
       
      }
      .socialmediaa img{
        width:
        80%
      }
      .sb_footer_links_div h4{
        font-size:14px;
        line-height: 17px;
        margin-bottom: 0.9rem;
        width: 275px;
        margin-top: 80px;
      }
      .sb_footer_links_div p {
        font-size: 12px;
        line-height:15px;
        margin:0.5rem 0;
        cursor: pointer;
      }
      .sb_footer_below{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0.2rem;
      }
      .sb_footer_below_links{
        display: flex;
        flex-direction: row;
      }
      .sb_footer_below_links p{
        font-size: 13px;
        line-height: 15px;
        margin-left: 2rem;
        color:white;
        font-weight: 600;
      }
      hr{
        color:white !important;
        width:100%;
      }
      .sb_footer_copyright p{
        font-size:13px;
        line-height: 15px;
        color :white;
        font-weight: 600;
        height: 100px;
      }
      @media screen and (max-width:850px)
      { .sb_footer_heading h1{
        font-size: 44px;
        line-height: 42px;
      }
      }
      @media screen and (max-width:550px)
      {
        .sb_footer_heading h1{
          font-size: 34px;
          line-height: 42px;
        }
        .sb_footer-links div{
          margin:1rem 0;
        }
        .sb_footer-btn p {
          font-size: 14px;
         line-height: 20px;
        }
        .sb_footer_below
        {
          flex-direction: column;
          justify-content: left;
        }
        .sb_footer-below-links{
          flex-direction: column;
        }
        .sb_footer_below_links p{
          margin-left: 0rem;
          margin-top:1rem;
        }
      }
      @media screen  and (max-width:400px){
        .sb_footer_heading h1{
  
        
        font-size: 27px;
      line-height: 38px;
  
      }
        
      }
      svg{
        color:white;
      }