.home-hero {
    position: relative;
  }
  .home-hero-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .home-hero-image {
    background-image: url("../images/hero.jpg");
    
    background-repeat: no-repeat;
    /* Values: repeat-x | repeat-y | no-repeat */
  
    background-position: center;
    /* Values: left top, etc | x% t% | center */
  
    background-size: cover;
    /* Values: unit(px, em, etc) | auto | contain | cover */
  
    background-attachment: fixed;
    /* Values: scroll | fixed */
  
    min-height: 60vh;
  }
  
  section {
    min-height: 60vh;
    border: 1px solid red;
  }
  .benefits-cards{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
  }
  .benefits-card{

    height: 200px;
    width: 150px;
   
  }
  #benefits h1{
    text-align: center;
    margin-top: 100px;
  }
  .about-imag{
    height: 400px;
    width: 400px;
    background-image: url(../images/image\ 9.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: auto;
  }
  .about-text{
    height: 400px;
    width: 400px;
    display: flex;

    flex-direction: column;
  }
  #about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }